.box-container{
  display: flex;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
